@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Body */

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 10px;
    top: 0;
    margin-top: 0;
    overflow: hidden;
    overflow-x: hidden;
}

.text {
    color: #e5e3e0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

body {
    background-color: rgb(34, 34, 34);
}

.color-theme {
    background: -webkit-linear-gradient(30deg, rgb(0, 251, 255), rgb(6, 130, 216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation-name: color-change;
    animation-duration: 40s;
    animation-timing-function: ease; 
    animation-iteration-count: infinite; */
}

/* Color change */

@keyframes color-change {
    0%, 100% {
        background: -webkit-linear-gradient(240deg, rgb(43, 195, 246), rgb(43, 145, 246));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    50% {
        background: -webkit-linear-gradient(120deg, rgb(43, 145, 246), rgb(43, 195, 246));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    /* 100% {
        color: rgb(43, 145, 246);
    } */
}

/* Headings */

@keyframes text-animation-heading {
    0% {
        left: -80%;
        opacity: 0%;
    }
    70% {
        opacity: 100%;
    }
    100% {
        left: 8%;
    }
}

@keyframes text-animation-sub-heading {
    0% {
        left: -80%;
        opacity: 0%;
    }
    70% {
        opacity: 100%;
    }
    100% {
        left: 8%;
    }
}


/* .headings {
    top: 50%;
    position: absolute;
} */

/* .headings p {
    margin-top: -12vh;
    top: 50%;
    position: absolute;
} */



.heading-text::before {
    text-shadow: 2px 2px 20px rgb(34, 34, 34);
    position: absolute;
}

.heading-text {
    visibility: visible;
    cursor: default;
    /* display: inline; */
    opacity: 100%;
    /* margin-top: -81.5%; */
    position: absolute;
    /* left: 8%;
    top: 12%;  */
    line-height: 70%;
    font-size: 88px;
    font-family: 'Manrope', sans-serif;
    color: rgb(251, 251, 251);
    /* animation-name: text-animation-heading;
    animation-duration: 1.7s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1); */
}
.smaller-heading-text {
    font-size: 50px;
}

.sub-heading-text {
    visibility: visible;
    cursor: default;
    /* display: inline; */
    opacity: 100%;
    margin-top: 0;
    position: absolute;
    /* left: 8%;
    top: 34%; */
    top: 175px;
    line-height: 70%;
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    color: rgb(251, 251, 251);
    /* animation-name: text-animation-heading;
    animation-duration: 2.2s;
    animation-delay: 1.6s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1); */
}

/* Animations */

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-in-spot-blur {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 60%;
    }
}

@keyframes fade-in-waves {
    0%, 100% {
        transform: translate3d(0px,0px) scale(1);
    }
    80% {
        transform: scale(1.1);
        transform: translate3d(-400px, 70px);
        /* transform: rotate(360); */
    }
}

.wave,
.wave::before,
.wave::after {
  opacity: 80%;
  size: unset;
  content: '';
  position: absolute;
  top: 51%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgb(28, 88, 251);
  animation: spin 28s infinite linear;
  mix-blend-mode: add;

}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 11vw rgb(19, 204, 255);
  animation: spin 27s infinite linear;

}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 11vw rgba(0, 132, 255, 0.8);
  animation: spin 26s infinite linear;

}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.whole {
    position: absolute;
    bottom: -800px;
    right: 400px;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.whole-whole {
    animation-name: fade-in-waves;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.bacground-waves {
    opacity: 10%;
    rotate: -5deg;
    margin-top: -300px;

}

/* background soft blur */

@keyframes spot-blur-move {
    0%, 100% {
        top: 50%;
        left: 70%;
    }
    25% {
        top: 15%;
        left: 45%;
    }
    50% {
        top: 30%;
        left: 10%;
    }
    80% {
        top: 35%;
        left: 45%;
    }
}

.spot-blur {
    position: absolute;
    top: 100px;
    left: 320px;
    opacity: 65%;
    -webkit-filter: blur(220px);
    -moz-filter: blur(220px);
    -o-filter: blur(220px);
    -ms-filter: blur(220px);
    filter: blur(220px);
    width: 350px;
    height: 350px;
    border-radius: 100%;
    animation-name: fade-in-spot-blur;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 5s;
    /* animation-name: spot-blur-move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
    background-color: rgb(45, 115, 255);
}

/* socials */

.socials-container {
    position: absolute;
    /* height: 1000px;
    width: 1000px; */
}

.socials,
.socials::after,
.socials::before {
    position: absolute;
    border-radius: 30%;
    background: -webkit-linear-gradient(-30deg, rgb(0, 229, 255), rgb(2, 149, 255));
    width: 7vw;
    height: 7vh;
    left: 8%;
    /* bottom: 20%; */

}

.icons{
    position: absolute;
    background: linear-gradient(-40deg, rgb(0, 229, 255), rgb(2, 149, 255));
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    width: 7vh;
    height: 7vh;
}

.fa {
    /* size-adjust: inherit; */
    size: 7vmin;
    position: absolute;
    /* align-items: center;
    justify-content: center; */
    width: 5vw;
    height: 5vh;
    min-width: 5vw;
    min-height: 5vh;
    max-width: 5vw;
    max-height: 5vh;
    font-size: 5em;
    top: 2vh;
    left: 2vw;
}

.social-logo-container {
    position: absolute;
    content: "";
    clear: both;
    display: table;
    top: 385px;
}

.social-logo-main {
    float:left;
    width: 33.3%;
    padding-right: 15px;
    width: 80px;
    height: 80px;
}

.social-logo-main:hover {
    animation-name: logo-hover;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.socials-logo-main:not():hover {
    animation-name: logo-hover2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.social-logo {
    /* float: left; */
    visibility: visible;
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 100%;
    
}

.social-logo2 {
    /* float: left; */
    visibility: visible;
    position: absolute;
    /* margin-left: 10vh; */
    /* width: 8vw;
    height: auto; */
    /* left: 8%; */
    /* top: 64%; */
    /* animation-name: text-animation-heading;
    animation-timing-function: cubic-bezier(0.2, 0, 0.190, 1);
    animation-delay: 5.5s;
    animation-duration: 2.2s; */
    width: 70px;
    height: 70px;
}

.social-logo3 {
    /* float: left; */
    visibility: visible;
    position: absolute;
    /* width: 8vw;
    height: auto; */
    /* left: 8%; */
    /* top: 64%; */
    width: 70px;
    height: 70px;
    
}

@keyframes icon-hover {
    0% {
        transform: scale(1);
        opacity: 100%;
    }
    100% {
        transform: scale(1.1);
        opacity: 70%;
    }
}

@keyframes icon-hover2 {
    0% {
        transform: scale(1.1);
        opacity: 70%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}



@keyframes logo-hover {
    0% {
        width: 80px;
        height: 80px;
        opacity: 100%;
    }
    100% {
        width: 90px;
        height: 90px;
        opacity: 80%;
    }
}

@keyframes logo-hover2 {
    0% {
        width: 90px;
        height: 90px;
        opacity: 100%;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 80%;
    }
}


/* .social-logo-container:hover {
    animation-name: logo-hover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
} */

/* .social-logo:hover {
    animation-name: logo-hover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;

} */

/* .btn {
    position: absolute;
    top: 50%;
    left: 8%;
} */

.divider {

    visibility: visible;
    opacity: 100%;
    /* width: 50%; */
    /* padding-right: 200px; */
    /* height: 0.5vh;
    border: 0; */
    border: none;
    background: #fbfbfb;
    color: #fbfbfb;
    position: absolute;
    width: 430px;
    height: 2px;
    top: 205px;
    /* margin-top: 1.2vh; */
    /* filter: brightness(3.5); */
    
    /* animation-name: text-animation-heading;
    animation-timing-function: cubic-bezier(0.2, 0, 0.190, 1);
    animation-delay: 3.2s;
    animation-duration: 1.2s; */

}

.divider2 {

    visibility: visible;
    opacity: 100%;
    /* width: 50%; */
    /* padding-right: 200px; */
    /* height: 0.5vh;
    border: 0; */
    border: none;
    background: #fbfbfb;
    color: #fbfbfb;
    position: absolute;
    width: 430px;
    height: 2px;
    top: 355px;
    /* margin-top: 1.2vh; */
    /* filter: brightness(3.5); */
    
    /* animation-name: text-animation-heading;
    animation-timing-function: cubic-bezier(0.2, 0, 0.190, 1);
    animation-delay: 3.2s;
    animation-duration: 1.2s; */

}

/* links */

a {
    color: linear-gradient(40deg, rgb(43, 195, 246), rgb(43, 145, 246));
    text-decoration: none;
}

/* bio */

.bio {
    margin-left: 0;
    padding-left: 0;
    /* padding-right: 8%; */
    cursor: default;
    /* top: 39%;
    left: 8%; */
    visibility: visible;
    top: 240px;
    /* margin-top: 4vh; */
    /* line-height: 150%; */
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    color: rgb(251, 251, 251);
    position: absolute;
    display: inline;
    /* animation-name: text-animation-heading;
    animation-timing-function: cubic-bezier(0.2, 0, 0.190, 1);
    animation-delay: 4s;
    animation-duration: 2s; */
}

.bio a:hover {
    text-decoration: underline rgba(0, 172, 203, 0.3);
}

/* Light and Dark mode */

@keyframes light-mode-icon-animation {
    0% {
        right: -10%;
    }
    100% {
        right: 5%;
    }
}

.light-mode-icon {
    cursor: pointer;
    visibility: visible;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* height: 8vh;
    width: 8vh; */
    width: 70px;
    height: 70px;
    border-radius: 35%;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 70px;
    height: 70px;
    /* animation-name: light-mode-icon-animation;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.2, 0, 0.190, 1); */
}

.dark-mode-icon {
    cursor: pointer;
    visibility: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* height: 8vh;
    width: 8vh; */
    border-radius: 35%;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 70px;
    height: 70px;
}

.dark-mode-icon:hover {
    animation-name: icon-hover;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.dark-mode-icon:not():hover {
    animation-name: icon-hover2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.light-mode-icon:hover {
    animation-name: icon-hover;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.light-mode-icon:not():hover {
    animation-name: icon-hover2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.center {
    top: 50%;
    left: 50%;
    /* transform: translate(-20%, -20%); */
}

.sun-icon {
    top: 5%;
    right: 5%;
    width: 4vw;
    height: 4vw;
    text-align: center;
}


/* .light-mode-icon-container:hover {
    animation-name: logo-hover;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


.dark-mode-icon-container:hover {
    animation-name: logo-hover;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
} */

.main-container {
    position: relative;
    /* width: 1200px;
    height: 1200px; */
    top: 400px;
    /* left: 75px; */
    margin: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: none;
}

.page.active {
    display: block;
}

@media only screen and (max-width: 890px) {

    .main-container{
        position: relative;
        width: 500px;
        height: 700px;
        top: 700px;
        left: 15px;
        margin: 0;
    }

    .smaller-heading-text {
        font-size: 32px;
        overflow: visible !important;
        overflow-wrap: break-word;
    }

    .heading-text {
        font-size: 40px;
        line-height: 38px;
        overflow: visible !important;
        overflow-wrap: break-word;
    }

    .sub-heading-text {
        font-size: 13px;
        top: 95px;
        overflow: visible !important;
        overflow-wrap: break-word;
    }

    .divider {
        width: 230px;
        top: 105px;
        height: 1px;
    }

    .bio {
        font-size: 9px;
        top: 134px;
        overflow: visible !important;
        overflow-wrap: break-word;
    }

    .divider2 {
        width: 230px;
        top: 185px;
        height: 1px;
    }
    
    .light-mode-icon {
        width: 30px;
        height: 30px;
    }
    
    .dark-mode-icon {
        width: 30px;
        height: 30px;
    }

    .social-logo-container {
        top: 210px;
    }
    .social-logo-main {
        width: 35px;
        height: 35px;
        padding-right: 5px;
    }

    .spot-blur {
        height: 100px;
        width: 100px;
        top: 0;
        left: 0;
    }

    .wave {
        margin-top: -25vw;
    }

    .wave::before,
    .wave::after {
        margin-top: -600px;
    }

    .social-logo-main:hover {
        animation-name: none;
    }

    .bacground-waves {
        margin-top: -500px;
    }
}

.my-image{
    position: absolute;
    visibility: visible;
    left: 950px;
    /* top: -230px; */
    transform: scale(0.6);
    /* animation: image-animation 2s linear 2s 1; */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.my-image:hover{
    animation: imageAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;
    animation-fill-mode: forwards;
}

.my-image:not(:hover) {
    animation-name: imageAnimation2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

@keyframes image-animation {
    0% {
        top: -50%;
    }
    100% {
        top: -200px
    }
    
}

@keyframes imageAnimation2 {
    0% {
        transform: scale(0.62);
    }
    100% {
        transform: scale(0.6);
    }
}

.nav-arrow {
    width: 80px;
    height: 80px;
    z-index: 1;
    /* bottom: 300px;
    left: 750px; */

}
.nav-arrow:hover {
    animation-name: icon-hover;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.nav-arrow-container {
    position: fixed;
    top: 750px;
    left: 900px
}

/* .nav-arrow-container {

} */

@keyframes imageAnimation {
    0% {
        
    }
    100% {
        transform: scale(0.62);
    }
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);;
    z-index: 9999;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 15px solid #fefefe;
    border-top-color: #1277fa;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }